body {
	font-family: Arial, Tahoma;
	font-size: 12px;
	background-color: #1AA59A;}

#main {
	 width: 100%;
    max-width: 1200px; /* Adjust max-width according to your design */
    margin: 0 auto; /* Center the content */
    overflow: hidden; /* Ensure content doesn't overflow */
}

#head {
	height: 200px;
	background-color: #F5F5F5;
	border: 1px solid #CDCDCD;
	margin-bottom: 5px;
	margin-top: 5px;
}

#head-link {
	height: 50px;
	line-height: 30px;
	border: 1px solid #CDCDCD;
	background-color: #F5F5F5;
	margin-bottom: 5px;
	clear: both;
}

#content {
	min-height: 430px;
	border: 0px solid #CDCDCD;
	float: left;
	margin-bottom: 5px;
	clear: both;
}

#content_center{
	width: 1050px;
	min-height: 430px;
	border: 0px solid #CDCDCD;
	float: left;
	align: center;
	margin-bottom: 5px;
	clear: both;
}

#left {
	 width: 25%; /* Adjust as needed */
    min-height: 430px;
    border: 1px solid #CDCDCD;
    float: left;
}

#right {
	 width: 75%; /* Adjust as needed */
    min-height: 430px;
    border: 0px solid #CDCDCD;
    float: right;
    margin-left: 5px;
}
/* Media queries for responsiveness */
@media screen and (max-width: 768px) {
    /* Adjust styles for smaller screens */
    #left {
        width: 100%;
        float: none;
    }

    #right {
        width: 100%;
        float: none;
        margin-left: 0;
    }
}
#footer {
	height: 50px;
	clear: both;
	border: 1px solid #CDCDCD;
	background-color: #F8F8FF;
	margin-bottom: 5px;
}